@model IEnumerable<HouseDetailViewModel>

@{
    ViewBag.Title = "My Houses";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="text-center row">
    @foreach (var house in Model)
    {
        <a class="card col-4 d-flex text-black text-decoration-none" style="width: 20rem;" asp-controller="House" asp-action="HouseDetails" asp-route-id="@house.Id">
            <div>
                <img class="card-img-top" src="@house.ImageUrl" alt="House Image">
                <div class="card-body">
                    <h5 class="card-title">@house.Title</h5>
                    <p class="card-text">@house.Address</p>
                </div>
            </div>
        </a>

    }
</div>